@model finalyearproject.Models.ViewModel.Post_CommentViewModel
@{
    Layout = "AdminLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Post detail</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <img src="~/img/Avatar/@Model.Post.user.avatar" style="width: 5rem; height: 5rem" alt="">
                </div>
                <div class="col-md-8 col-sm-12">
                    <p>Postion: @Model.Post.Position</p>
                    <p>Company address: @Model.Post.address</p>
                    <p>Candidates: @Model.Post.total_of_candidates/@Model.Post.limit_candidates</p>
                    <p>Salary: @Model.Post.salary</p>
                    <p>Expriences required: @Model.Post.experience</p>
                </div>
                <div class="col-md-2 col-sm-12" style="text-align: end">
                    <p>Date: @Model.Post.date_post.ToString("yyyy-MM-dd")</p>
                    <p>Expire date: @Model.Post.expired_date.ToString("yyyy-MM-dd")</p>
                    <br />

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    @if (TempData["limited"] != "limited")
                    {
                        <button id="Apply" class="btn btn-success" data-post-id="@Model.Post.post_id" style="margin-right: 2rem">
                            <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
                            Apply now
                        </button>
                    }
                    else
                    {
                        <button id="Full" class="btn btn-success" data-post-id="@Model.Post.post_id" style="margin-right: 2rem">
                            <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
                            Reach limited
                        </button>
                    }
                    <button id="ShowCreateReport" class="btn btn-danger" data-toggle="modal" data-id="@Model.Post.post_id" data-target="#Report">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 10px"></i>
                        Report
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Job Description</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.job_description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Skill required</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.skill_required</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Other condition</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.other_condition</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Comment & Review</h6>
        </div>
        <div class="card-body" style="text-align: end">
            <div class="d-flex justify-content-sm-between gap-4 align-items-center mb-2">
                <img src="~/img/Avatar/@TempData["avatar"]" style="width: 3rem; height: 3rem" alt="">
                <div class="w-100">
                    @Html.Partial("~/Views/Post/Components/rating.cshtml")
                    <div class="input-block" style="margin-bottom: 0">
                        <input type="text" id="comment" data-post_id="@Model.Post.post_id">
                    </div>
                </div>

            </div>
            <button class="btn btn-primary mb-5" id="CommentButton">
                <i class="fas fa-paper-plane"></i>
            </button>

            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("~/Views/Post/Components/Comment.cshtml",comment)
            }
        </div>
    </div>
    @Html.Partial("~/Views/Post/Components/CreateReport.cshtml")
</div>

<!-- /.container-fluid -->
