@model IEnumerable<finalyearproject.Models.User>
@{
    Layout = "AdminLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Topbar Search -->
    <div class="card shadow mb-3" style="position: sticky; text-align: end; z-index: 8; top: 4.4rem;">
        <div class="card-body d-flex align-items-end flex-end justify-content-end flex-wrap gap-4">
            <form class="navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            <a asp-controller="Authentication" asp-action="RegisterAdmin" class="btn btn-primary btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">New</span>
            </a>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Account</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Avatar</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>
                                    <img src="~/img/Avatar/@user.avatar" alt="" style="width: 5rem; height: 5rem">
                                </td>
                                <th>@user.Email</th>
                                <th>@user.role</th>
                                <th>@user.Status</th>
                                <td>
                                    <div class="btn-group-vertical">
                                        <a href="#" class="btn btn-warning btn-icon-split" id="EditAccount" style="justify-content: normal" data-toggle="modal" data-target="#change_role_model" data-user_id="@user.user_id">
                                            <span class="icon text-white" style="background: none">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </span>
                                            <span class="text">Edit</span>
                                        </a>
                                        @if(user.company.conpany_id!=999){
                                            <a asp-controller="Account" asp-action="AccountDetailCompany" asp-route-user_id="@user.user_id" class="btn btn-info btn-icon-split">
                                                <span class="icon text-white" style="background: none">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">Detail</span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Account" asp-action="AccountDetail" asp-route-user_id="@user.user_id" class="btn btn-info btn-icon-split">
                                                <span class="icon text-white" style="background: none">
                                                    <i class="fas fa-info-circle"></i>
                                                </span>
                                                <span class="text">Detail</span>
                                            </a>
                                        }

                                        <a href="#" class="btn btn-danger btn-icon-split" id="DeleteAccountButton" data-user_id="@user.user_id" data-toggle="modal" data-target="#confirm_delete" data-user_id="@user.user_id">
                                            <span class="icon text-white" style="background: none">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Account/Component/ChangesRole.cshtml")
    @Html.Partial("~/Views/Account/Component/Banned.cshtml")
    
</div>
<!-- /.container-fluid -->
