@model finalyearproject.Models.User
@{
        Layout = "UserLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Topbar Search -->
    <div class="card shadow mb-3" style="position: sticky; text-align: end; z-index: 8; top: 4.4rem;">
        <div class="card-body d-flex align-items-end flex-end justify-content-end flex-wrap gap-4">
             <a href="#" data-toggle="modal" data-target="#uploadCv_modal" class="btn btn-success btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fa fa-upload"></i>
                </span>
                <span class="text">Upload Resume</span>
            </a>

            <a href="#" data-user_id="@Model.user_id" id="download" class="btn btn-info btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fas fa-download"></i>
                </span>
                <span class="text"> Download Resume</span>
            </a>
            <a href="#" data-toggle="modal" data-target="#change_pass_model" id="modal_changepassword" data-user-id="@Model.user_id" class="btn btn-warning btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fas fa-lock"></i>
                </span>
                <span class="text">Change password</span>
            </a>
            <a href="#" id="submit-profile" class="btn btn-success btn-icon-split" style="margin-left: 1rem">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Update</span>
            </a>

        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center flex-md-wrap flex-sm-wrap gap-5">
                <div class="d-flex flex-column flex-grow-1">
                    <div class="text-center">
                        <img src="~/img/Avatar/@Model.avatar" alt="" style="width: 10rem; height: 10rem" id="avatar_img">
                        <button class="btn btn-primary mt-5 d-block" style="margin-right: auto;margin-left: auto" onclick="document.getElementById('fileupload').click();">Upload</button>
                       
                    </div>
                </div>
                   
                    <div class="flex-grow-1">
                <form id="profile-form" method="post" asp-controller="Profile" asp-action="UpdateProfile" >
                        <input type="file" id="fileupload" style="display: none;">
                        <div class="input-block">
                            <label>Full name</label>
                            <input value="@Model.Name" name="Name" />
                        </div>
                        <div class="input-block">
                            <label>Email</label>
                            <input value="@Model.Email" name="Email" />
                        </div>
                        <div class="input-block">
                            <label>Birthdate</label>
                            <input type="date" value="@Model.Birthday" name="Birthday" />
                        </div>
                        <div class="input-block">
                            <label>Phone number</label>
                            <input value="@Model.Phone" name="Phone" />
                        </div>
                        <div class="d-flex gap-2">
                            <label style="font-size: 14px; color: #a1b4b4;">Gender</label>
                            <div class="ms-2">
                                <label for="Male">Male</label>
                                <input id="Male" type="radio" name="Gender" value="Male" checked='@(Model.Gender == "Male" ? "checked" : null)' required>
                            </div>
                            <div class="ms-3">
                                <label for="Female">Female</label>
                                <input id="Female" type="radio" name="Gender" value="Female" checked='@(Model.Gender == "Female" ? "checked" : null)' required>
                            </div>
                        </div>
                    </form>
                    </div>
               
                
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Views/Profile/Components/Changepassword.cshtml")
@Html.Partial("~/Views/Profile/Components/UploadCv.cshtml")
<!-- /.container-fluid -->
