@model finalyearproject.Models.ViewModel.Post_CommentViewModel
@{
    Layout = "RecruiterLayout";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Post detail</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <img src="/public/img/undraw_profile.svg" style="width: 5rem; height: 5rem" alt="">
                </div>
                <div class="col-md-8 col-sm-12">
                    <p>@Model.Post.Position</p>
                    <p>@Model.Post.address</p>
                    <p>@Model.Post.limit_candidates/@Model.Post.total_of_candidates</p>
                    <p>@Model.Post.salary</p>
                </div>
                <div class="col-md-2 col-sm-12" style="text-align: end">
                    <p>Date: @Model.Post.date_post</p>
                    <p>Expire date: @Model.Post.expired_date</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5">
                    <button class="btn btn-success" style="margin-right: 2rem">
                        <i class="fas fa-sign-in-alt" style="margin-right: 10px"></i>
                        Apply now
                    </button>
                    <button class="btn btn-danger">
                        <i class="fas fa-exclamation-triangle" style="margin-right: 10px"></i>
                        Report
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Job Description</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.job_description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Skill required</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.skill_required</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Other condition</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p>@Model.Post.other_condition</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Comment & Review</h6>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-sm-between gap-4 align-items-center mb-5">
                <img src="/public/img/undraw_profile.svg" style="width: 3rem; height: 3rem" alt="">
                <div class="w-100">
                    @Html.Partial("~/Views/Post/Components/rating.cshtml")
                    <div class="input-block" style="margin-bottom: 0">
                        <input type="text">
                    </div>
                </div>
                <button class="btn btn-primary">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
           
        </div>
    </div>
</div>
<!-- /.container-fluid -->
