@model IEnumerable<finalyearproject.Models.Report>;
@{
    Layout = "AdminLayout";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Reports</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Reporter email</th>
                            <th>Reason report</th>
                            <th>Reciver email</th>
                            <th>Report date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var report in Model)
                        {
                            <tr>
                                <th>@report.report_id</th>
                                <th>@report.repoter.Email</th>
                                <th>@report.content_report</th>
                                <th>@report.reciver.Email</th>
                                <th>@report.date_submit</th>
                                <th>@report.status</th>
                                <th>
                                    <div class="btn-group-vertical">
                                        <a asp-controller="Report" asp-action="AcceptReport" asp-route-report_id="@report.report_id" class="btn btn-success btn-icon-split" style="justify-content: normal">
                                            <span class="icon text-white" style="background: none">
                                                <i class="bi bi-check-circle-fill"></i>
                                            </span>
                                            <span class="text">Accecpt</span>
                                        </a>
                                        <a asp-controller="Report" asp-action="RefuseReport" asp-route-report_id="@report.report_id" class="btn btn-danger btn-icon-split">
                                            <span class="icon text-white" style="background: none">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                            <span class="text">Refuse</span>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
