@model int
<span class="star-rating">
    <label for="rate-1" style="--i:1"><i class="fas fa-star"></i></label>
    <input type="radio" name="rating_comment" id="rate-1" value="1" @(Model == 1 ? "checked" : "") disabled>
    <label for="rate-2" style="--i:2"><i class="fas fa-star"></i></label>
    <input type="radio" name="rating_comment" id="rate-2" value="2" @(Model == 2 ? "checked" : "") disabled>
    <label for="rate-3" style="--i:3"><i class="fas fa-star"></i></label>
    <input type="radio" name="rating_comment" id="rate-3" value="3" @(Model == 3 ? "checked" : "") disabled>
    <label for="rate-4" style="--i:4"><i class="fas fa-star"></i></label>
    <input type="radio" name="rating_comment" id="rate-4" value="4" @(Model == 4 ? "checked" : "") disabled>
    <label for="rate-5" style="--i:5"><i class="fas fa-star"></i></label>
    <input type="radio" name="rating_comment" id="rate-5" value="5" @(Model == 5 ? "checked" : "") disabled>
</span>